/* Start Global Values */
body {
  margin: 0;
  font-family: "Choco cooky", Arial, sans-serif;
  color: white;
  background-color: #eee;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 350px;
    height: 622px;
  }
}
@media (max-width: 767px) {
  .chatcontainer {
    height: 390px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-color: #010101;
  --main-color-alt: #252525;
  --main-h-color: #e6e7e9;
  --main-p-color: #128c7e;
  --lightgreen-color: #25d366;
  --link-color: #bbbbbb;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color-alt);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgreen-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@font-face {
  font-family: "Choco cooky";
  src: url("c970b21c2bd8f5fb680c04a195aa7a38.eot"); /* IE9*/
  src: url("c970b21c2bd8f5fb680c04a195aa7a38.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("c970b21c2bd8f5fb680c04a195aa7a38.woff2") format("woff2"),
    /* chrome、firefox */ url("c970b21c2bd8f5fb680c04a195aa7a38.woff")
      format("woff"),
    /* chrome、firefox */ url("c970b21c2bd8f5fb680c04a195aa7a38.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("c970b21c2bd8f5fb680c04a195aa7a38.svg#Choco cooky") format("svg"); /* iOS 4.1- */
}

.demo {
  font-family: "Choco cooky" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* End Global Rules */
/* Start Chat Header */
.container {
  overflow: hidden;
  width: 405px;
  height: 720px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 10px black, -1px -1px 10px black;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.container:hover {
  box-shadow: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.container .head {
  margin-bottom: 10px;
}

.container .headflex {
  padding: 10px 5px;
}

.container .headflex .contactdetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .headflex .contactdetails .contacticon {
  width: 50px;
  margin-right: 10px;
}

.container .headflex .contactdetails a {
  color: white;
}

.container .headflex i {
  margin: 0px 15px;
  font-size: 25px;
}

.container .headflex h4 {
  margin: 0;
}
.container .description {
  text-align: center;
  background-color: #2b2b2b;
}

.container .description {
  justify-content: center;
  display: flex;
  align-items: center;
}

.container .description img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.whatsappicons {
  margin-left: 20px;
}

.whatsappicons img {
  width: 40px;
}

.whatsappicons img:not(:last-child) {
  margin-right: 25px;
}

.whatsappicons img:hover {
  cursor: pointer;
}

/* Chat Messages */
.chatpaper {
  background: url(/images/chats/mechat/chatwallpaper.jpg) center no-repeat fixed;
  height: 100%;
  width: 100%;
  background-size: 1655px 1014px;
}

.box0 {
  background-color: #019c8d;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 72%;
  font-size: 18px;
  margin-bottom: 30px;
}

.box0::after {
  content: "1:33 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.box1 {
  background-color: #434343;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 30px;
}

.box1::after {
  content: "1:30 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.box2 {
  background-color: #019c8d;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 72%;
  font-size: 18px;
  margin-bottom: 30px;
}

.box2::after {
  content: "1:33 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.box3 {
  background-color: #434343;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 30px;
}

.box3::after {
  content: "1:39 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.box4 {
  background-color: #434343;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 30px;
}

.box4::after {
  content: "1:41 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.box5 {
  background-color: #019c8d;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 57%;
  font-size: 18px;
  margin-bottom: 30px;
}

.box5::after {
  content: "1:45 pm";
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.chatpaper img {
  margin-left: -10px;
}
/* Footer Bar */
.footerbar {
  background-color: var(--main-color);
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.footerbar img {
  width: 50px;
}

.footerbar input {
  outline: none;
  border: none;
  background-color: var(--main-color-alt);
  width: 250px;
  padding: 0 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: white;
  font-size: 20px;
}

.footerbar label::after {
  content: url(/images/sticker.png);
  position: absolute;
  top: 18px;
  right: 80px;
}
